<ion-view view-title="Infos serveur" ng-controller="DataUsageCtrl">
  <ion-content>
    <ion-list>
      <ion-item class="dataUsageMemory">
        <div class="row">
          <div class="col col-60"></div>
          <div class="col col-20" ng-repeat="actionButton in actionButtons">
            <button class="button button-icon" ng-click="launchAction($index)">
              <i class="icon {{actionButton.icon}}" ng-if="!actionButton.loading"></i>
              <i class="icon fa fa-spinner fa-pulse" ng-if="actionButton.loading"></i>
            </button>
          </div>
        </div>
        <div class="row">
          <div class="col col-90">
            <i class="icon ion-stats-bars"></i>&nbsp;&nbsp;Mémoire
          </div>
        </div>
        <div class="row">
          <table class="table">
            <thead>
            <tr>
              <th>Total</th>
              <th>Utilisé</th>
              <th>Libre</th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <td>{{ ramTotal }}</td>
              <td>{{ ramUsed }}</td>
              <td>{{ ramFree }}</td>
            </tr>
            </tbody>
          </table>
        </div>
      </ion-item>
      <ion-item class="dataUsageDisk">
        <div class="row">
          <div class="col col-90">
            <i class="icon ion-ios-filing-outline"></i>&nbsp;&nbsp;Disque
          </div>
        </div>
        <div class="row">
          <div class="col">
            <table class="table">
              <thead>
              <tr>
                <th>Nom</th>
                <th>Total</th>
                <th>Utilisé</th>
                <th>Libre</th>
              </tr>
              </thead>
              <tbody>
              <tr ng-repeat="disk in disks">
                <td>{{ disk.mountPoint.name }}</td>
                <td>{{ disk.info.totalSize }}</td>
                <td>{{ disk.info.sizeUsed }} ({{ disk.info.sizeUsedPourcent }})</td>
                <td>{{ disk.info.sizeFree }}</td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
