<ion-view view-title="Domotique" ng-controller="DomoticCtrl">
  <ion-content class="domotic">
    <div class="row"></div>
    <div class="row" ng-repeat="device in devices">
      <div class="col col-25"></div>
      <div class="col col-50">
        <button class="button button-icon" ng-click="putLight($index)">
          <i class="icon ion-ios-lightbulb-outline icon-larger" ng-if="device.putOn && !device.loading"></i>
          <i class="icon ion-ios-lightbulb icon-larger" ng-if="!device.putOn && !device.loading"></i>
          <i class="icon fa fa-spinner fa-pulse" ng-if="device.loading"></i>
          <br>
          {{ device.label }}
        </button>
      </div>
      <div class="col col-25"></div>
    </div>
  </ion-content>
</ion-view>
