<ion-tabs class="tabs-icon-top tabs-color-active-positive">

  <ion-tab title="Domotique" icon-off="ion-ios-lightbulb-outline" icon-on="ion-ios-lightbulb" href="#/app/domotic">
    <ion-nav-view name="app-domotic">
      <domotic-template></domotic-template>
    </ion-nav-view>
  </ion-tab>

  <ion-tab title="Service" icon-off="ion-ios-cog-outline" icon-on="ion-ios-cog" href="#/app/service">
    <ion-nav-view name="app-service" >
      <service-template></service-template>
    </ion-nav-view>
  </ion-tab>

  <ion-tab title="Infos serveur" icon-off="ion-ios-speedometer-outline" icon-on="ion-ios-speedometer" href="#/app/data-usage">
    <ion-nav-view name="app-datausage" >
      <datausage-template></datausage-template>
    </ion-nav-view>
  </ion-tab>

</ion-tabs>
