<ion-view view-title="Service" ng-controller="ServiceCtrl">
  <ion-content>
    <div class="row" style="height: 50px"></div>
    <div class="row" ng-repeat="service in services" style="height: 150px; text-align: center; margin-left: 1px; margin-right: 1px">
      <div class="col col-25"></div>
      <div class="col col-50">
        <button class="button button-icon" style="color: white; font-weight: bold; width: 100%; height: 100%; border-color: black; background-color: #5bc0de"
                ng-click="putService($index)">
          <i class="icon ion-power icon-larger" ng-if="service.info.isRunning && !service.loading"></i>
          <i class="icon ion-flash icon-larger" ng-if="!service.info.isRunning && !service.loading"></i>
          <i class="icon fa fa-spinner fa-pulse" ng-if="service.loading"></i>
          <br>
          {{ service.name }}
        </button>
      </div>
      <div class="col col-25"></div>
    </div>
  </ion-content>
</ion-view>
