<ion-view view-title="Service" ng-controller="ServiceCtrl">
  <ion-content class="service">
    <div class="row"></div>
    <div class="row" ng-repeat="service in services">
      <div class="col col-25"></div>
      <div class="col col-50">
        <button class="button button-icon"
                ng-click="putService($index)">
          <i class="icon ion-power icon-larger" ng-if="service.info.isRunning && !service.loading"></i>
          <i class="icon ion-flash icon-larger" ng-if="!service.info.isRunning && !service.loading"></i>
          <i class="icon fa fa-spinner fa-pulse" ng-if="service.loading"></i>
          <br>
          {{ service.name }}
        </button>
      </div>
      <div class="col col-25"></div>
    </div>
  </ion-content>
</ion-view>
